/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}

img{
	max-width: 100%
}

/* Navigation */

.main-nav {
  width: 100%;
  background: rgba(54, 58, 34, 1);
  min-height: 30px;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 100;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav li {
  padding: 5px 10px 10px;
  display: inline-block;
}

.nav a {
  transition: all .5s;
  text-decoration: none;
  color: #fff;
}
.nav a:hover {
  color: #e3e6cd;
}

.hero {
  background: url('images/forest-bkgrd.jpg') no-repeat top center ;
  background-size: cover;
  height: 500px;
  margin-top: 50px;
}


.profile-image {
  margin: 30px 0px 20px;
  width: 120px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #363a22;
  transition: all .5s;
}

.profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}

.tag {
  background-color: #f3f3f3 ;
  color: #363a22;
  padding: 10px;
  border-radius: 3px;
  width: 50%;
  margin: 0px auto;
}
.call-out {
  background-color: #363a22;
  color: #f3f3f3;
}

.card {
  margin: 30px 10px;
  padding: 20px 40px 40px;
  max-width: 400px;
  text-align: left;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #363a22;
}

.card ul {
  padding: 0;
}

.card ul li {
  border-radius: 6px;
  display: inline-block;
  background: #363a22;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.card ul li:nth-child(odd) {
  background: #835c38;
}

.card-header {
  max-width: 80%;
  text-align: center;
  margin: 15px auto;
}

main {
  margin-top: 50px;
}

#gallery {
	margin: 0;
	padding: 0;
	list-style:none;
  z-index: 0;
}
#gallery li{
	float: left;
	width: 45%;
	margin:2.5%;
}
.description{
	margin: 0;
	font-size:0.9em;
	color: #363a22;
}
#gallery li img{
  border: 1px solid #363a22;
  transition: all 1s;
}
#gallery li img:hover {
  transform: rotate(5deg);
}

/* CSS for View Full Site */
#view-full {
  background: #835c38;
  height: 50px;
  width: 200px;
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #fff;
  transition: background .5s;
}
#view-full:hover{
  background: #363a22
}

.rwd-display-option{ cursor: pointer; }

#view-responsive{ display: none; }

footer {
  width: 100%;
  min-height: 30px;
  margin: 0;
  padding: 20px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Styles for larger screens */
@media (min-width:900px) {

  #view-full{ display: none; }
  #view-responsive{ display: flex; }

  section {
      display: -ms-flexbox;
      display: flex;
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 0px auto;
  }
}

@media screen and (max-width: 899px) {
  .card {
    max-width: 70%;
    margin: 15px auto;
  }
  .call-out {
    margin-bottom: 15px;
  }
}

@media (max-width: 450px){
  .card {
    max-width: 90%;
    margin: 15px auto;
  }
}
