// hero - callout tag
%hero-tag {
  padding: 10px;
  border-radius: ($br-radius - 3px);
  width: 50%;
  margin: 0px auto;
}

// Card Styling
%card {
  margin: 30px 10px;
  padding: 20px 40px 40px;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 4px solid #ccc;
  border-radius: $br-radius;
  transition: all .5s;

  &:hover, &:focus{
    border-color: $color-primary;
  }
}

//View in desktop while on mobile
%view {
  background: #835c38;
  height: 50px;
  width: 200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #fff;
  transition: background .5s;

  &:hover, &:focus {
    background: #363a22
  }
}
