// hero - callout tag
%hero-tag {
  padding: 10px;
  border-radius: 3px;
  width: 50%;
  margin: 0px auto;
}

// Card Styling
%card {
  margin: 30px 10px;
  padding: 20px 40px 40px;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
  &:hover {
    border-color: $color-primary;
  }
}
