$img-path: '../images/';
$font-google-sans: 'https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900';

// Colors
$color-primary:#363a22;

$color-text: #333;
$color-text-lighten: lighten($color-text, 50%);
