.card {
  @extend %card;
  max-width: 400px;
  text-align: left;

  ul {
   text-align: center;
  }

  // @media #{$breakpoint-tablet} {
  //   width: 70%;
  //   display: block;
  //   margin: 10px auto;
  // }
  //
  // @media #{$breakpoint-mobile} {
  //   max-width: 90%;
  //   margin: 15px auto;
  // }
}

.card__btn{
  border-radius: $br-radius;
  display: inline-block;
  background: $color-primary;
  color: white;
  padding: 5px 10px;
  margin: 2px;

  &:nth-child(odd){
    background: $color-secondary;
  }
}

.card__header--treepg {
  @extend %card;
  max-width: 80%;
  text-align: center;
  margin: 15px auto;
}
