.gallery {
	list-style:none;
  z-index: 0;
}

.gallery__item{
	float: left;
	width: 45%;
	margin:2.5%;

  &__img {
		@include image (100%, 250px, $fit: cover);
    border: 1px solid $color-primary;
    transition: all 1s;
		border-radius: $br-radius;
    &:hover {
        transform: rotate(5deg);
    }
  }

  &__caption {
    margin: 0;
    font-size:0.9em;
    color: $color-primary;
  }
}
