/* Navigation */

nav {
  @include flex();
  width: 100%;
  background: $color-primary;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 100;
  overflow: hidden;
}

.nav__list {
  font-weight: 500;
  list-style-type: none;

  &__item {
    display: inline-block;

    a {
      padding:25px 15px;
      transition: all .5s;
      text-decoration: none;
      color: #fff;
      margin-right: 5px;
    }
  }
}

.nav__list__item a:hover {
  color: $color-primary;
  background: white;
}
