#view-full {
  display: flex;
  @extend %view;

  @media #{$breakpoint-large}{
    display: none;
  }
}

.rwd-display-option{ cursor: pointer; }

#view-responsive{ display: none;
  @media #{$breakpoint-large}{
    display: flex;
    background: #835c38;
    height: 50px;
    width: 200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #fff;
    transition: background .5s;
  }
}
